.about{
 
    height:75vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family:Roboto Slab;
    position:absolute;
    top:370px;
    background: transparent;
    width:100%;
    
}


